@media (max-width: 570px) {
  /* Cambios al Navbar */
  .logoAndName h1 {
    font-size: 35px;
  }
  .logoAndName img {
    height: 60%;
    width: 40px;
  }
  .version-span {
    font-size: 10px;
  }
  /* Cambios a la landing */
  .title-description p {
    font-size: 30px;
    text-align: center;
  }
  #titulo-maquina-escribir {
    font-size: 90px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-sizing: border-box;
  }
  .materia {
    width: 150px;
    height: 70px;
  }
  .materia-nombre {
    font-size: 12px;
  }
  #carrera-title {
    margin-top: 30px;
  }
}
